<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.focustar.qualityspotcheck.mapper.BaseProjectMapper">

    <resultMap id="BaseProjectVORecursionMap" type="com.focustar.qualityspotcheck.pojo.vo.BaseProjectVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="score" column="score"/>
        <collection property="children" column="id" ofType="com.focustar.qualityspotcheck.pojo.vo.BaseProjectVO" select="getChildrenProjects"/>
    </resultMap>

    <!--    父级项目查询  -->
    <select id="getAllBaseProjects" resultMap="BaseProjectVORecursionMap">
        select id,name,level,score,create_time
        from base_project
        where parent_id = 0
        and del_flag = 0
    </select>
    <!--    查询子级项目  -->
    <select id="getChildrenProjects" resultMap="BaseProjectVORecursionMap">
        select id,name,level,score,create_time
        from base_project
        where parent_id = #{id}
        and del_flag = 0
    </select>

    <select id="getByCheckOrderId" resultType="com.focustar.qualityspotcheck.pojo.vo.SpotCheckProjectVO">
        select sc.id,bp2.name as parentName, bp.name,bp.score,bp.level
        from spot_check sc inner join spot_check_list scl on sc.spot_check_list_id = scl.id
            inner join quality_temp qt on scl.temp_id = qt.id
            inner join temp_project tp on tp.temp_id = qt.id
            inner join base_project bp on tp.project_id = bp.id
            inner join base_project bp2 on bp.parent_id = bp2.id
            where sc.del_flag = 0
                and scl.del_flag = 0
                and qt.del_flag = 0
                and bp.del_flag = 0
                and bp2.del_flag = 0
                and sc.id = #{ida}
    </select>

    <update id="deleteProject" >
        update base_project
        set  del_flag = 1 ,update_by = #{userId} ,update_time = now()
        where id = #{projectId}
    </update>
</mapper>