<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.focustar.qualityspotcheck.mapper.PermissionMapper">

    <resultMap id="baseResultMap" type="com.focustar.qualityspotcheck.pojo.entity.SysPermission">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="title" column="title"/>
        <result property="index" column="permission_index"/>
        <result property="icon" column="icon"/>
        <result property="resType" column="res_type"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remarks" column="remarks"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>
    
    <resultMap id="twiceLevelPermissionTree" type="com.focustar.qualityspotcheck.pojo.vo.PermissionVO">
        <id property="id" column="id"/>
        <result property="title" column="title" />
        <result property="index" column="permission_index"/>
        <result property="icon" column="icon"/>
        <result property="resType" column="res_type"/>
        <collection property="subs" ofType="com.focustar.qualityspotcheck.pojo.vo.PermissionVO">
            <id property="id" column="id2"/>
            <result property="title" column="title2"/>
            <result property="index" column="permission_index2"/>
            <result property="icon" column="icon2"/>
            <result property="resType" column="res_type2"/>
        </collection>
    </resultMap>

    <sql id="baseColumn">
        p.id,
        p.parent_id,
        p.title,
        p.permission_index,
        p.icon,
        p.res_type,
        p.create_by,
        p.create_time,
        p.update_by,
        p.update_time,
        p.remarks,
        p.del_flag
    </sql>
    <sql id="simpleColumn">
        p.id,
        p.parent_id,
        p.title,
        p.permission_index,
        p.icon,
        p.res_type
    </sql>

    <select id="getPermissionsByUserId" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from sys_permission p
        inner join sys_role_permission rp on p.id = rp.permission_id
	    inner join sys_role r on rp.role_id = r.id
	    inner join sys_user_role ur on ur.role_id = r.id
	    inner join sys_user u on ur.user_id = u.id
	    where u.id = #{userId}
	    and p.del_flag = 0
	    and rp.del_flag = 0
	    and r.del_flag = 0
	    and ur.del_flag = 0
	    and u.del_flag = 0
    </select>
    
    <select id="getPermissionTreeByUserId" resultMap="twiceLevelPermissionTree">
        select
        p1.id,
        p1.title,
        p1.permission_index,
        p1.icon,
        p1.res_type,
        p2.id as id2,
        p2.title as title2,
        p2.permission_index as permission_index2,
        p2.icon as icon2,
        p2.res_type as res_type2
        from sys_permission p1
        inner join sys_permission p2 on p1.id = p2.parent_id
        inner join sys_role_permission rp on p1.id = rp.permission_id
        inner join sys_role r on rp.role_id = r.id
        inner join sys_user_role ur on ur.role_id = r.id
        inner join sys_user u on ur.user_id = u.id
        where u.id = #{userId}
        and p1.del_flag = 0
        and rp.del_flag = 0
        and r.del_flag = 0
        and ur.del_flag = 0
        and u.del_flag = 0
        and p2.del_flag = 0
        order by p1.sort
    </select>

</mapper>